
.fondo{
    background-color: #FEF3E2;
}

.btnSuc{
    margin: 1px;
    margin-right: 5px;
    border: 2px black solid;
    border-radius: 10px;
    background-color:#FAAF08;
}



// #FAAF08  #FA812F  #FA4032 #FEF3E2 